<div class="row">
    <div class="column">
        <a href="https://genomebiology.biomedcentral.com/articles/10.1186/s13059-020-02151-8">
            <img src="/assets/img/publication_preview/accting.jpg" style="width:100%">
        </a>
    </div>
    <div class="column">
        <a href="https://www.nature.com/articles/s41587-022-01250-0">
            <img src="/assets/img/publication_preview/cnt.jpg" style="width:100%">
        </a>
    </div>
    <div class="column">
        <a href="https://academic.oup.com/bioinformatics/article/36/Supplement_1/i292/5870502">
            <img src="/assets/img/publication_preview/bayesian.jpg" style="width:100%">
        </a>
    </div>
    <!-- <div class="column">
        <a href="https://academic.oup.com/bioinformatics/article/32/12/i192/2288985">
            <img src="/assets/img/publication_preview/rapmap.jpg" style="width:100%">
        </a>
    </div> -->
    <div class="column">
        <a href="https://academic.oup.com/bioinformatics/article/37/12/1699/6104828">
            <img src="/assets/img/publication_preview/compression.jpg" style="width:100%">
        </a>
    </div>
</div>

<style>
    /* Six columns side by side */
    .column {
        float: left;
        width: 25%;
    }
</style>