<div class="row">
    <div class="column">
      <img src="/assets/img/publication_preview/accting.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/img/publication_preview/cnt.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/img/publication_preview/bayesian.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/img/publication_preview/rapmap.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/img/publication_preview/compression.jpg" style="width:100%">
    </div>
</div>

<style>
    /* Six columns side by side */
    .column {
        float: left;
        width: 20%;
    }
</style>